.field {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url("./../../assets/img/cards/gamebg.jpg");
}

.cardStack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
        object-fit: cover;
    }
}

.topCard {
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.playedCard {
    right: 25px;
    transform: scale(1.3) translateX(150px) translateY(-150px) rotate(-10deg);
}

.pickCard {
    animation: pickCardAnimation 1s ease-in-out;
    transform: scale(1.3) translateX(150px) translateY(-150px) rotate(-10deg);
}

@keyframes pickCardAnimation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1.3) translateX(150px) translateY(-150px) rotate(-10deg);
    }
}

.playerPosition {
    position: absolute;
    right: 0;
    overflow: hidden;
}

.playersDesktop {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;

    app-player {
        margin-top:  16px;
    }
}

.playersMobile {
    height: 70px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: scroll;
    overflow-y: hidden;

    app-player {
        margin-right: 16px;
    }
}

.addBtn {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.gameInfo {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

.hideDesktop {
    display: none;
}

.gameOver {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 900px) {
    .cardStack {
        img {
            width: 80px !important;
        }
    }

    .playedCard {
        right: 25px;
        transform: scale(1.1) translateX(120px) translateY(-120px) rotate(-10deg) !important;
    }
    

    .pickCard {
        animation: pickCardAnimation 1s ease-in-out !important;
        transform: scale(1.1) translateX(120px) translateY(-120px) rotate(-10deg) !important;
    }
    
    @keyframes pickCardAnimation {
        0% {
            transform: scale(1);
        }
        30% {
            transform: scale(1.5);
        }
        50% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.1) translateX(120px) translateY(-120px) rotate(-10deg) !important;
        }
    }

    .addBtn {
        position: absolute;
        right: 8px;
        bottom: 8px;
    }

    .gameInfo {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .playerPosition {
        position: absolute;
        top: 0 !important;
        overflow-y: scroll;
    }

    .hideMobile {
        display: none;
    }

    .hideDesktop {
        display: flex !important;
    }
}
